{% extends 'base.html.twig' %}

{% block title %}Edit Examen{% endblock %}

{% block body %}
    <h1>Edit Examen</h1>

    {{ include('examen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('examen_index') }}">back to list</a>

    {{ include('examen/_delete_form.html.twig') }}
{% endblock %}
