<form method="post" action="{{ path('enseigne_delete', {'id': enseigne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseigne.id) }}">
    <button class="btn">Delete</button>
</form>
