<form method="post" action="{{ path('note_controle_delete', {'id': note_controle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note_controle.id) }}">
    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash">
        <a class="fa fa-trash-o" aria-hidden="true" href=""></a>
    </button>
</form>
