{% extends 'base.html.twig' %}

{% block title %}Edit NoteExamen{% endblock %}

{% block body %}
    <h1>Edit NoteExamen</h1>

    {{ include('note_examen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('note_examen_index') }}">back to list</a>

    {{ include('note_examen/_delete_form.html.twig') }}
{% endblock %}
